.imagensdinamicas{
    
    top: 20%;
    width: 25%;
    height: 35%;
    top: 30%;
}


.produtosDiv{
    width: 50%;
    background-color: black;
    color: white;
    gap: 10%;
    margin-left: 25%;
    margin-top: 10%;
}

.h1{
    position: absolute;
    left: 35%;
    top: 10%;
}